body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

li {
    list-style: none;
    margin-right: 25px;
}

#primero {
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
}

.titular {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

a {
    font-size: 14px;
    background: #5cb8ff;
    padding: 20px 30px 20px 30px;
    color: white;
}

header {
    background: url(fondo.jpg);
    height: 100vh;
    background-size: cover;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

/* Sección sobre el autor */

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-parrafo-y-boton {
    width: 42%;
}

    .contenedor-parrafo-y-boton p {
        font-size: 18px;
    }

.parrafo-final {
    margin-bottom: 30px;
}

.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: #fff;
}

.violeta {
    background: #5055df;
}

.celeste {
    background: #40a8fa;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio img {
    float: right;
}

.servicio p {
    font-size: 18px;
}
